<!DOCTYPE html>
<html>
  <head>
    <title>Dominion Tournament</title>
    <%= favicon %>
    <%= stylesheet 'bootstrap' %>
    <%= stylesheet 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
